{% extends 'base.html' %}
{% block conteudo %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="addradio" class="card">
                    <div class="card-header text-center">
                        <h2>Adição de rádios</h2>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('addradio') }}" method="post">
                            <div class="form-group mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="sens">Sensibilidade em dBm</label>
                                <input type="text" class="form-control" id="sens" name="sens" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="pott">Potência de Transmissão em W</label>
                                <input type="text" class="form-control" id="pott" name="pott" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="nomeant">Nome da Antena</label>
                                <input type="text" class="form-control" id="nomeant" name="nomeant" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="gan">Ganho da Antena em dB</label>
                                <input type="text" class="form-control" id="gan" name="gan" required>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Adicionar Rádio</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}
