{% extends 'base.html' %}
{% block conteudo %}

<body>
    <div id="config">
        <h2>Parâmetros de Configuração</h2>
        <form action="{{ url_for('conf') }}" method="post">
            <div class="form-group">
                <label for="urb">Calcular perda urbana?</label>
                <input type="text" id="urb" name="urb" required>
            </div>

            <div class="form-group">
                <label for="veg">Calcular perda em vegetação?</label>
                <input type="text" id="veg" name="veg" required>
            </div>

            <div class="form-group">
                <label for="precisao">Precisão azimultal de predição de área em graus</label>
                <input type="text" id="precisao" name="precisao" required>
            </div>

            <div class="form-group">
                <label for="larg">Largura média da rua em área urbana</label>
                <input type="text" id="larg" name="larg" required>
            </div>

            <div class="form-group">
                <label for="sit">Confiabilidade (de 50% a 90%)</label>
                <input type="text" id="sit" name="sit" required>
            </div>

            <button type="submit">Setar configuração</button>
        </form>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #config {
            padding: 20px;
        }

        h2 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</body>
{% endblock conteudo %}
