{% extends 'base.html' %}
{% block conteudo %}

<body>
    <div id="Salv">
        <h2>Salvar projeto</h2>
        <form action="{{ url_for('salv') }}" method="post">
            <div class="form-group">
                <label for="nsalv">Nome do Projeto</label>
                <input type="text" id="nsalv" name="nsalv" required>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>

    <div id="Carrega">
        <h2>Carregar projeto</h2>
        <form action="{{ url_for('carr') }}" method="post">
            <div class="form-group">
                <label for="ncarr">Nome do Projeto</label>
                <input type="text" id="ncarr" name="ncarr" required>
            </div>
            <button type="submit">Carregar</button>
        </form>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        #Salv, #Carrega {
            padding: 20px;
            margin-bottom: 20px;
        }

        h2 {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</body>
{% endblock conteudo %}
